.rating {
    list-style:none; /*menghilangkan dot list*/
}
.rating a {
    text-decoration:none; /*menghilangkan garis bawah*/
    color: #000; /*memberi warna hitam*/
    font-weight:bold; /*menebalkan font menu*/
}
.rating li {
    display:inline; /*membuat menu menjadi Horizontal*/
    background-color: transparent; /*ngasi warna merah di background menunya*/
    float:left; /*bikin nempel ke kiri biar ga ada spasi kosong*/
    padding-right:5px; /*ngasi jarak atas bawah kiri kanan di menu*/
}
.rating li .star{
	width : 10px;
}
.rating li:last-child {
    border-right:none; /*untuk ngilangin border kanan di list menu yg pallingn akhir*/
}
.rating li:hover {
    background-color:#ccc; /*untuk ngasi effek ganti warna background pas mouse lewat*/
}